.header {
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid #ececec;
  @include tablet {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  @include desktop {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.header__container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--text-black);
  @include desktop {
    font-size: 26px;
    line-height: 1.19;
  }
}
.navigation__logo {
  @include tablet {
    margin-right: 88px;
  }
  @include desktop {
    margin-right: 93px;
  }
}
.logoaccent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--color-accent);
  @include desktop {
    font-size: 26px;
    line-height: 1.19;
  }
}
.navigation__list {
  display: none;
  gap: 50px;
  width: 281px;
  height: 16px;
  & .link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include tablet {
      height: 40px;
    }
    @include desktop {
      height: 40px;
    }
  }

  & .link:hover,
  & .link:focus {
    color: var(--color-accent);
  }
  @include tablet {
    display: flex;
  }
}
.navigation__list .link.current {
  color: var(--color-accent);
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    transform: translate(0, 100%);
    width: 100%;
    height: 4px;
    background-color: var(--color-accent);
    border-radius: 2px;
    display: block;
  }
}
.contact {
  display: none;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  gap: 50px;
  &-link {
    display: flex;
    align-items: center;
    gap: 10px;
    fill: currentColor;
  }
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}
@include tablet {
  .icon-mail {
    width: 14px;
    height: 10px;
    .icon-tel {
      width: 10px;
      height: 14px;
    }
  }
}
@include desktop {
  .icon-mail {
    width: 16px;
    height: 12px;

    .icon-tel {
      width: 10px;
      height: 16px;
    }
  }
}

.contact .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.menu-open {
  margin-left: auto;
  border: none;
  background-color: transparent;
  @include tablet {
    display: none;
  }
}

.mob-menu {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  top: 0;
  position: fixed;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  > .menu-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
}
.menu-container {
  padding-left: 40px;
  padding-right: 40px;
}
.menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
  &:hover,
  &:focus {
    fill: var(--color-accent);
  }
}
.mob-navigation-list{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mob-navigation-list__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-navigation-list__link:hover,
.mob-navigation-list__link:focus {
  color: var(--color-accent);
}

.mob-navigation-list__link.current {
  color: var(--color-accent);
}
.mob-menu-bottom{
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.mob-contact{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mob-contact-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--color-accent);
}
.mob-contact-mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.mob-soc-list {
  display: flex;
  gap: 20px;
}
.mob-soc-item {
  position: relative;
}
.mob-soc-item:not(:last-child)::after {
  position: absolute;
  content: "";
  right: -10px;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}
.mob-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--color-accent);
}
